* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 120px;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 60px 0;
}

.container::after {
	content: '';
	display: table;
	clear: both;
}

.introducao {
	background: black;
}

.introducao h2 {
	color: white;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: -2em;
	margin-bottom: 2em;
	line-height: 0;
}

.introducao img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.slide {
	position: relative;
	overflow: hidden;
}

.slide > * {
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: .5s;
}

.slide > .active {
	position: relative;
	opacity: 1;
}